.header,
.parent,
.hot,
.presell,
.service,
.process,
.inforparent,
.footer_item,
.designeteam,
.buildhost,
.loadmore,
.drawing_box,
.builddetail,
.mationmain,
.designer_box,
.presell_bottom,
.mapshow,
.video,
.userintro,
.nav,
.order,.quikorder {
  width: 1200px;
  margin: 0 auto;
}

/*  */
.poniter {
  cursor: pointer;
}

/* 颜色 */
.theme {
  color: #fdd45f;
}

.color6e {
  color: #6E6E6E;
}

.color98 {
  color: #989898;
}

.colord2 {
  color: #d2d2d2;
}

.bgcolorf6 {
  background: #f6f6f6;
}

/* 字体 */
.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font29 {
  font-size: 29px;
}

.font20 {
  font-size: 20px;
}

.font22 {
  font-size: 22px;
}

.font24 {
  font-size: 24px;
}

.font18 {
  font-size: 18px;
}

.font40 {
  font-size: 40px;
}

/*  */
.one-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.two-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.left {
  text-align: left;
}

.fl_be {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fl_ar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fl_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl_be_al {
  display: flex;
  align-items: center;
}
.flx{
  display: flex;
}
.col{
  flex-direction: column;
}
input::-webkit-input-placeholder {
  color: #fff;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

/*  */
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 30px;
  height: 6px;
  background: #fff;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: #fdd45f !important;
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  content: '' !important;
}
